<div class="edit_form">
	<p class="lead">
		Edit your category information here.
	</p>

	<%= form_for @main_category, :html => { multipart: true } do |f| %>

		<%= render 'layouts/form_errors', subject: @main_category %>

		<div class="input">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>

		<div class="input">
			<%= f.label :description %>
			<%= f.text_area :description, rows: '8' %>
		</div>

		<div class="input">
			<%= f.label :image %>
			<%= f.file_field :image %>
		</div>

		<%= f.submit 'Update' %>
	<% end %>
</div>