<%= render 'layouts/sidebar', categories: @main_categories, this_category: @main_category %>

<div class="content">
	<h1><%= @main_category.name %></h1>

	<%= render_breadcrumbs %>

	<% if @main_category.description %>
		<p class="lead">
			<%= @main_category.description %>
		</p>
	<% end %>

	<% @main_category.sub_categories.each do |sub_category| %>
		<%= link_to render('category_thumbnail', category: sub_category), sub_category %>
	<% end %>
</div>