<div class="edit_form">
	<p class="lead">
		Edit your category information here.
	</p>

	<%= form_for @sub_category do |f| %>

		<%= render 'layouts/form_errors', subject: @sub_category %>

		<div class="input">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>

		<div class="input">
			<%= f.label :description %>
			<%= f.text_area :description, rows: '8' %>
		</div>

		<%= f.submit 'Update' %>
	<% end %>
</div>