<tr>
	<td><%= product.description %></td>
	<td><%= product.part_number %></td>
	<td><%= product.units %></td>
	<td><%= product.weight %></td>
	<td><%= product.length %></td>
	<td><%= product.brand %></td>
</tr>